.footer-light {
  text-align: center;
  padding: 1rem;
  background-image: linear-gradient(
      to right bottom,
      #6658fc,
      rgba(30, 108, 217, 0.8)
    ),
    url(../img/bg.jpg);

  background-size: cover;
  background-position: bottom;
  font-size: 0.7rem;
  color: #fff;
}
.footer-dark {
  text-align: center;
  padding: 1rem;
  background-image: linear-gradient(
      to right bottom,
      #1b1744,
      rgba(7, 18, 34, 0.8)
    ),
    url(../img/bg.jpg);

  background-size: cover;
  background-position: bottom;
  font-size: 0.7rem;
  color: #fff;
}
