body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Roboto", sans-serif;
}
a.link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
*,*::before,*::after {
  box-sizing: border-box;
}


.toggleButton {
  float: right;
}
.hiddenRow {
  display: none;
}

.loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #6658fc;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

///landing page

.wrapper {
  display: -webkit-box;
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 50%;
}

.card {
  width: 350px;
  height: 200px;
  border: none;
  padding: 1.5rem;
  margin: 0 1.5rem;
  position: relative;
  display: -webkit-box;
  display: flex;
  overflow: hidden;
  -webkit-box-align: end;
  align-items: center;
  -webkit-transition: 0.4s ease-out;
  justify-content: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  &:hover {
    .info {
      span {
        transform: scale(1.5);
        color: #fff;
        margin-left: 3.5rem;
        margin-top: 1rem;
      }
    }
  }
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
.card:hover img {
  transform: scale(1.1);
  transition: all 0.5s;
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: 0.5s;
  transition: 0.5s;

  span {
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.5s;
    &:hover {
      transform: scale(1.52);
      color: #fff;
    }
    .arrow {
      font-size: 1.5rem;
      margin-left: 0.2rem;
    }
  }
}
.card .info h1 {
  margin: 0;
  font-size: 1rem;
  text-transform: uppercase;
}
.card .info p {
  letter-spacing: 1px;
  font-size: .85rem;
  font-weight: 100;
  margin-top: 8px;
}

.card .info .link:hover {
  color: dodgerblue;
}
